numpy==1.26.4
numpydoc @ file:///opt/conda/conda-bld/numpydoc_1643788541039/work
opencv-contrib-python==4.8.1.78
opencv-python==4.12.0
opencv-python-headless==4.12.0
mediapipe==0.10.32
tensorflow==2.20.0
pytest @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_eb_o59tqte/croot/pytest_1738938845265/work
matplotlib==3.10.0
matplotlib-inline @ file:///Users/builder/cbouss/buildout/croot/matplotlib-inline_1732916182598/work